{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="info">
{{ 'resetting.check_email'|trans({'%email%': email}) }}
</div>
{% endblock %}

{% block fos_user_title %}
    {{ 'resetting.request.submit'|trans }}
{% endblock %}