{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="error">{{ 'resetting.password_already_requested'|trans }}</div>
{% endblock fos_user_content %}

{% block fos_user_title %}
    {{ 'resetting.request.submit'|trans }}
{% endblock %}