{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
{% endblock fos_user_content %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_title %}
    {{ 'resetting.request.submit'|trans }}
{% endblock %}