{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="info">{{ 'registration.check_email'|trans({'%email%': user.email}) }}</div>
{% endblock fos_user_content %}

{% block fos_user_title %}
    {{ 'registration.submit'|trans }}
{% endblock %}