{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_title %}
    {{ 'registration.submit'|trans }}
{% endblock %}