{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% include "FOSUserBundle:Profile:show_content.html.twig" %}
    <div>
        <form action="{{ path('fos_user_profile_edit') }}">
            <input type="submit" value="{{ 'profile.edit'|trans }}">
        </form>
    </div>
{% endblock fos_user_content %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_title %}
    {{ 'profile.show'|trans }}
{% endblock %}