{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>{{ 'form.prenume'|trans }} {{ user.prenume }}</p>
    <p>{{ 'form.nume'|trans }} {{ user.nume }}</p>
    <p>{{ 'form.gender.label'|trans }}
        {% if user.gender == 'm' %}
            {{ 'form.gender.male'|trans }}
        {% else %}
            {{ 'form.gender.female'|trans }}
        {% endif %}</p>
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
</div>
