div.fos_user_box{
    max-width: 400px;
    background-color: #F5F5F5;
    margin: 50px auto;
    position: relative;
    font-size: 13px;
}

div.fos_user_title {
    background-color: #000;
    background-image: linear-gradient(#000000, #333333);
    background-repeat: repeat-x;

    border-color: #333;
    border-image: none;
    border-radius: 4px 4px 0 0;
    border-style: solid;
    border-width: 1px;

    color: #FFFFFF;
    padding: 10px 20px;
}

div.fos_user_title h1{
    font-size: 16px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    font-family: Verdana,Arial,​freesans,​sans-serif;
}

div.fos_user_content{
    padding: 15px;
    border-color: #CCC;
    border-image: none;
    border-radius: 0 0 4px 4px;
    border-style: solid;
    border-width: 1px;
    border-top: none;
}

div.fos_user_box label{
    padding: 10px 15px 5px 0px;
    display: block;
    font-size: 13px;
    font-weight: bold;
}
div.fos_user_box input[type='text'], div.fos_user_box input[type='password'], div.fos_user_box input[type='email']{
    width: 358px;
    min-height: 20px;
    padding: 2px 2px;
    font-size: 13px;
    display: block;
}
div.fos_user_box select{
    width: 358px;
    min-height: 20px;
    padding: 5px 2px;
    font-size: 13px;
    display: block;
}
div.fos_user_box input[type='checkbox']{
    float:left;
    margin: 10px 10px 0px 0;
}
div.fos_user_box input[type='submit']{
    display: block;
    margin: 10px auto 0 auto;
    background-color: #000;
    background-image: linear-gradient(#000000, #333333);
    background-repeat: repeat-x;
    border: 1px solid #333;
    color: #FFFFFF;
    font-size: 13px;
    padding: 5px 10px;
}

div.fos_user_box div.success{
    font-weight: bold;
}

div.fos_user_box ul {
    position: absolute;
    left: 410px;
}

div.fos_user_box ul li {
    width: 200px;
    background-color: #ff99b1;
    border: 1px solid red;
    border-left-width: 4px;
    font-size: 12px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    padding: 5px;
}

div.fos_user_box div.error{
    background-color: #ff99b1;
    border: 1px solid red;
    font-size: 12px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    padding: 5px;
}

div.fos_user_box a{
    color: #000;
}