{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
{% endblock fos_user_content %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_title %}
    {{ 'change_password.submit'|trans }}
{% endblock %}